*.slo
*.lo
*.log
*.tlog
*.o
*.obj
*.opensdf
*.suo
*.gch
*.pch
*.so
*.dylib
*.idb
*.pdb
*.mod
*.smod
*.lai
*.la
*.a
*.exe
*.out
*.app
*.sdf
*.filters
*.user
*.ilk
*.db
*.opendb
#*.sln
#*.vcxproj
build/
build_tools/